<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="RegisterTwitterUsers" type="TwitterFavorites.RegisterTwitterUsersConfig, TwitterFavorites" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <RegisterTwitterUsers>
    <TwitterUsers>
      <TwitterUser ScreenName="gs_test_1" ConsumerKey="" ConsumerSecret="" AccessToken="" AccessTokenSecret=""></TwitterUser>
      <TwitterUser ScreenName="Coach1" ConsumerKey="" ConsumerSecret="" AccessToken="" AccessTokenSecret=""></TwitterUser>
      <!--<TwitterUser ScreenName="gs_test_3" ConsumerKey="" ConsumerSecret="" AccessToken="" AccessTokenSecret=""></TwitterUser>-->
    </TwitterUsers>
  </RegisterTwitterUsers>
  <appSettings>
    <add key="accounts1" value="gs_test_1;gs_test_2;gs_test_3" />
    <add key="accounts2" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
